<div class="container">
    <div class="row mt-2">
      <div div class="col-12 text mt-5 card shadow">
        <h4 class="my-4 ml-2 fw-bold">Modifica l'articolo</h4>
        <p class="text-secondary ml-2">Compila il form per modificare l'articolo</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
          <div class="row ml-1 mr-1 mb-1">
            <div class="col-12 md:col-4">
              <div class="p-fluid">
                <h6 >Nome Articolo</h6>
                <input type="text" pInputText formControlName="nomeArticolo" class="form-control" class="p-inputtext-sm">
                <p class="text-secondary ml-1 small">Inserire il nome dell'articolo</p>
                <span class="ml-2"></span>
              </div>
            </div>
  
            <div class="col-12 md:col-4">
              <div class="p-fluid">
                <h6>Prezzo</h6>
                <input type="text" pInputText formControlName="prezzo" class="form-control" class="p-inputtext-sm">
                <p class="text-secondary ml-1 small">Inserire il prezzo dell'articolo</p>
                <span class="ml-2"></span>
              </div>
            </div>
            <div class="col-12 md:col-4 ">
              <div class="p-fluid">
                <h6>Recensioni</h6>
                <input type="text" pInputText formControlName="recensioni" class="form-control" class="p-inputtext-sm">
                <p class="text-secondary ml-1 small">Inserire la recensione dell'articolo</p>
                <span class="ml-2"></span>
              </div>
            </div>
  
          </div>
  

          <div class="row  ">
  
            <div class="col-lg-2 mt-5">
              <div class="d-grid">
                <div class="button btn btn colore ml-1" (click)="goBack()">Annulla</div>
              </div>
            </div>
  
  
            <div class="col-lg-3 mt-5" style="float:right;">
              <div class="d-grid">
                <button class="btn btn color  ml-1">Modifica </button>
              </div>
            </div>
          </div>
        </form>
      </div>
  
    </div>