<a class="nav-link btn btn-success mt-5 ms-5 mb-4 text-white" [routerLink]="['/articolo/nuovoarticolo']" style="width: 15%;">Nuovo Articolo</a>

<p-table [value]="articoli" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Nome Articolo</th>
            <th>Prezzo</th>
            <th>Recensioni</th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-articolo>
        <tr>
            <td>{{articolo.id}}</td>
            <td>{{articolo.nomeArticolo}}</td>
            <td>{{articolo.prezzo}}</td>
            <td>{{articolo.recensioni}}</td>
            <td><button pButton pRipple type="button" icon="pi pi-times" class="btn btn-warning mt-2" (click)="updateArticolo(docente.id)">Modifica</button></td>

            <td><button pButton pRipple type="button" icon="pi pi-times" class="btn btn-danger mt-2" (click)="deleteArticolo(docente.id)">X</button></td>
            
        </tr>
    </ng-template>
</p-table>